body {
  margin: 0;
  font-family: Helvetica;
  background-color: #eeeeee;
}

#header {
  text-align: center;
  margin: auto;
  padding: 5px 0 10px 0;
  background-color: #dbe2ef;
  color: #112d4e;
}

#image {
  display: block;
  max-width: 100%;
  margin: auto;
  padding-top: 20px;
}

#img-caption {
  text-align: center;
}

#tribute-info > h3 {
  padding-left: 30px;
  color: #112d4e;
}

#tribute-info > p {
  padding: 5px 20px;
  text-align: justify;
}

h4 {
  margin: auto;
  text-align: center;
  color: #112d4e;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3f72af;
}
